.vs
Microsoft.Build.CPPTasks.Common/bin
Microsoft.Build.CPPTasks.Common/obj
Microsoft.Build.CPPTasks.Common/Properties
Microsoft.Build.Utilities.Extension/bin
Microsoft.Build.Utilities.Extension/obj
Microsoft.Build.Utilities.Extension/Properties
TrackerSDK/bin
TrackerSDK/obj
TrackerSDK/Properties