.vs
Microsoft.Build.CPPTasks.Common/bin
Microsoft.Build.CPPTasks.Common/obj
Microsoft.Build.CPPTasks.Common/Properties
Microsoft.Build.Utilities.Extension/bin
Microsoft.Build.Utilities.Extension/obj
Microsoft.Build.Utilities.Extension/Properties
Microsoft.Build.CPPTasks.Android/bin
Microsoft.Build.CPPTasks.Android/obj
Microsoft.Build.CPPTasks.Android/Properties